body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 300px;
}

.container {
  padding: 15px;
}

h1 {
  color: #4a9d5e;
  font-size: 18px;
  margin-top: 0;
}

.content {
  margin-top: 10px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 9b01f81 (test)
